:root {
  --primary-color: #9f4a19;
  --duration: 0.4s;
}
.notFound {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notFound h1 {
  font-size: 72px;
  font-weight: bolder;
}
.notFound a {
  color: var(--primary-color);
  text-decoration: none;
  opacity: 0.5;
  transition-duration: var(--duration);
}
.notFound a:hover {
  opacity: 1;
}
a.active {
  color: var(--primary-color) !important;
}
