<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy Shop</title>
    {% block styles %} {% endblock %}
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/icon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="overhead"></div>
    <header>
      <form method="GET">
        <div>
          <input type="text" name="search" placeholder="I'm Looking for..." />
          <button value="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span> Search </span>
          </button>
        </div>
      </form>
      <div class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <a class="logo" href="{{ url_for('index') }}">
        <img
          width="100"
          height="75"
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Happy Shop"
        />
      </a>
      <div class="actions">
        <div class="phone">
          <a href="tel:012 3456 7890">
            <i class="fa-solid fa-phone"></i>
          </a>
          <div>
            <span>Need Help</span>
            <a href="tel:012 3456 7890">012 3456 7890</a>
          </div>
        </div>
        <a href="#" class="login">
          <i class="fa-solid fa-user"></i>
          <div>
            <span>Login</span>
            <p>Account</p>
          </div>
        </a>
        <a href="#" class="cart">
          <i class="fa-solid fa-cart-shopping"></i>
          <div>
            <span>Cart</span>
            <p>$0.00</p>
          </div>
        </a>
      </div>
    </header>
    <div class="overlay"></div>
    <div class="nav-menu">
      <div class="nav-head">
        <h3>Menu</h3>
        <i class="fa-solid fa-x"></i>
      </div>
      <nav>
        <ul>
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>
          <li><a href="{{url_for('contact')}}">Contact</a></li>
        </ul>
      </nav>
      <div class="contact">
        <h4>Contact Us</h4>
        <a href="mailto:info@happyshop.co.eg"
          ><i class="fa-solid fa-envelope"></i>info@happyshop.co.eg</a
        >
        <a href="tel:012 3456 7890"
          ><i class="fa-solid fa-phone"></i>012 3456 7890</a
        >
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{url_for('about')}}">About</a></li>
        <li><a href="{{url_for('contact')}}">Contact</a></li>
      </ul>
    </nav>
    {% block content %} {% endblock %} {% block scripts %} {% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
